{% extends "index.html" %}

{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>پروژه تستی ادیسه</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    .custom-column {
      width: 25%; /* 25% عرض هر کلوم برای نمایش 4 کلوم کنار هم */
      float: left; /* برای قرار گرفتن کلوم‌ها کنار هم */
      padding: 10px; /* فاصله‌ی دلخواه بین کلوم‌ها */
    }
  </style>
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div class="container">
    
      {% block med %}
        {% for a in all %}
          <div style="width: 18rem;" class="col-lg-3 me-5 ml-5 mt-5 mb-5">
            <div class="testimonial-item">
              <div dir="rtl" class="col shadow icon-box card" style="width: 18rem;">
                <img src="{{ a.image.url }}" class="shadow card-img-top me-3 mt-5 border rounded" style="width: 250px; height: 250px;" />
                <div class="card-body">
                  <h3 style="color: rgb(5, 5, 8);" class="card-title">{{ a.title }}</h3>
                  <div class="row mt-5">
                    <div class="col-9">
                      <h3 id="price" style="color: rgb(5, 5, 8);" class="card-title">{{ a.price }} تومان </h3>
                    </div>
                    <a href="{% url 'drug' a.id %}"><button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn shadow-danger" style="background-color: rgb(15, 237, 174)"><span style="width: 100px; height: 100px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><h3 class="text-center">انتخاب</h3></button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endblock %}
  

      

</body>